
<html>
  <body style="background-color:powderblue;">

<h1 align="center">Welcome to the Bookmarks app!</h1>
<p align="center"><a href="http://localhost:9292/bookmarks">Click to view saved bookmarks</a></p>
<p align="center"><a href="http://localhost:9292/new">Click add bookmarks</a></p>
</body>
</html>
