<body style="background-color:powderblue;">
<form action="/new" method="post">
    <input type="text" name="url" placeholder="Enter URL here" />
    <input type="submit" value="Submit"/>
</form>
</body>
